Simple python code to transform the node file product of FracPaQ by Healy et al., (2017) into a text file with the azimuth of each fracture, this can then be used into the data template to use in WinTensor by Delvaux and Sperner (2003). 
Created by Rafael Arturo Quintana Gomez and presented in XVIII Congreso Colombiano de Geolog√≠a.

In [16]:
import pandas as pd
import numpy as np

In [15]:
#Open text file of nodes
data = pd.read_csv('your_node_file.txt', header = None, delimiter = "\t")
#data

         0        1        2       3        4        5        6        7   8
0  2623.75  4050.25  4798.75  2594.0  6023.75  2081.50  6880.00  1419.00 NaN
1  2498.75  3887.75  4111.25  2406.5  5692.50  1012.75      NaN      NaN NaN
2  2080.00  2925.25  3742.50  1869.0  4786.25   894.00  5773.75   600.25 NaN

In [3]:
#Function to calculate the azimuth of a line with two points.
def azimuth(x1,x2,y1,y2):
    dx = x2 - x1
    dy = y2 - y1
    azm = round(np.arctan2(dy,dx)*180/np.pi)
    if azm < 0:
        azm += 360
    return azm

In [11]:
#Function to calculate the azimuth of each line in the text file.
def main():
    #Creation of node data lists from text file.
    list_list = []
    for i in range(0,len(data.loc[:])):
        list = []
        for j in data.loc[i]:
            if np.isnan(j):
                pass
            else:
                list.append(j)
        list_list.append(list)
    
    #Selection of starting and ending nodes from each node data list and calculation of azimuth.
    azim_list = []
    for i in range(0, len(list_list)):
        x1 = list_list[i][0]
        x2 = list_list[i][-2]
        y1 = -list_list[i][1]
        y2 = -list_list[i][-1]
        azim_value = 0
        azim_list.append(azimuth(x1,x2,y1,y2));
    
    #Creation of azimuth text file.
    with open('your_azimuth_file.txt', 'w') as f:
        for item in azim_list:
            f.write("%s\n" % item)

In [13]:
#Run main function
main()

In [14]:
#Verify azimuth txt file with azimuth results
test_result = pd.read_csv('your_azimuth_file.txt', header = None, delimiter = "\t")
test_result

    0
0  32
1  42
2  32